$primary: #7a00d7;
$secondary: #ddf9ff;
$card-border-radius:  15px;
$card-border-width: 0px;
$box-shadow:0 .5rem 1rem rgba(#7a00d7, .10);

.nav-link {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  color:     #483358 !important ;

  &:hover {
    transition: all 0.4s;
    color: $primary !important;
  }
  &:before {
    content: "";
    height: 1px;
    width: 0;
    opacity: 0;
    position: absolute;
    transition: ease-in 0.35s;
    position: absolute;
    background-color: $primary;

    right: 0;

    top: 0;
    margin: auto;
  }

  &:after {
    content: "";
    height: 1px;
    width: 0;
    opacity: 0;
    position: absolute;
    transition: all 0.35s;
    position: absolute;
    background-color: $primary;

    left: 0;
    bottom: 0;
    margin: auto;
  }
  &:hover:after {
    transition: all 0.35s;
    width: 100%;
    opacity: 1;
  }
  &:hover:before {
    transition: all 0.35s;
    width: 100%;
    opacity: 1;
  }
}
.navbar{


  transition: all .3s ease-in;
}
.scrolled{
  opacity: 50%;
  &:hover{
    opacity: 100%;
  }
}

.btn {
  position: relative;
z-index: 5;

  &:hover {
    transition: 0.2s ease;
    background-color: transparent !important;
   
    z-index: 5;
  }

  &:before {

    transition: 0.3s ease-in-out;
    content: "";
    width: 100%;
    height: 0;
    background-color: $secondary;
    position: absolute;
    left: 0;
bottom: 0;
z-index: -1;
border-radius: 0.25rem;
   
    
  }

  &:hover:before {
    height: 100%;
    width: 100%;
  
  }
}

.highlight {
  background: linear-gradient(rgba(255, 255, 255, 0) 50%, $secondary 50%);
}

.card{
  background-color: #fffdfa !important;
max-width: 18rem;
margin-right: 1.5rem ;
  margin-top: 1.5rem;
z-index: 1;
}
.row{
  margin-left: 15px !important;
  margin-right: 15px !important;
  max-width: 100%;
}

.card-footer{
  background-color: $secondary !important;
  
}

.btn-primary{
font-size: 14px !important;
    color: #ffff !important;
    &:hover{
      color: $primary !important;
    }

 
}
.btn-outline-primary{
  font-size: 14px !important;
    color: $primary !important;
  

 
}
@import "~bootstrap/scss/bootstrap";


@include media-breakpoint-down(md){
  header{
    .btn-primary{
      margin: 1rem 0rem 0rem 0rem !important;
      max-width: 150px;
    }
    .btn-outline-primary{
      margin:  1rem 0rem 0rem 0rem !important;
      max-width: 150px;
    }
  }
 


  .card{
    margin-right: 1rem !important ;

  }
 

  .navbar-collapse{
    background-color: $secondary;
  
  
  }
  .navbar{
    background-color: $secondary;
 
  }

}
@include media-breakpoint-down(md){
.card{
  margin-right: 1rem !important;

}

}
@include media-breakpoint-down(sm){
  .row{
    margin-right: 0rem !important;
  }
 
  .card{
    margin-right: 0rem !important;
  
  }
  }